node_modules
dist
.env
.env*
.env.
.env.local
.env.development
.env.production
.turbo
*.log
.DS_Store
apps/server/logs/
apps/server/coverage/
# TypeScript build cache
*.tsbuildinfo

# Winston audit logs
apps/server/logs/
