@import "tailwindcss";

:root {
  --color-primary: #111827;
  --color-secondary: #9CA3AF;
  --color-border: #E5E7EB;
  --color-border-focus: #6B7280;
  --color-bg: #ffffff;
  --color-danger: #EF4444;
}

html, body {
  background-color: #080810;
  color: var(--color-primary);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}/* style refinement 1 */
/* style refinement 2 */
/* style refinement 3 */
/* style refinement 3 */
/* style refinement 4 */
/* style refinement 5 */
/* style refinement 6 */
