@import "tailwindcss";

:root {
  --color-primary: #111827;
  --color-secondary: #9CA3AF;
  --color-border: #E5E7EB;
  --color-border-focus: #6B7280;
  --color-bg: #ffffff;
  --color-danger: #EF4444;
}

body {
  background-color: #080810;
  color: var(--color-primary);
}

/* Hide scrollbar completely but retain scrolling functionality */
html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, 
body::-webkit-scrollbar {
  display: none;
}